@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --accent: #38bdf8;
}

body {
  min-height: 100vh;
  background-color: var(--background);
}

a {
  @apply transition;
}
